.farm-wrap{
  height: 100%;
}
.farm-wrap .inner{
  background-color: rgb(224 224 218);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.farm-wrap .farm-left{
  width: 46%;
  height: 95%;
  display: flex;
  justify-content: center;
}
.farm-wrap .farm-left .three-wrap{
  background-color: white;
  box-sizing: border-box;
  border: 2px solid rgb(145, 163, 119, 0.8);
  width: 98%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.farm-wrap .farm-left .three-wrap div:first-child{
  height: 25px;
  width: 102px;
}
.farm-wrap .farm-left .three-wrap div:last-child{
  height: 27px;
}
.farm-wrap .farm-left .three-wrap canvas{
  width: 95% !important;
  height: 95% !important;
  border-radius: 10px;

}
.farm-wrap .farm-left .three-wrap div{
  box-sizing: border-box;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  width: 95%;
  color: #ffffff;
  background-color: rgb(145, 163, 119, 0.8);
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.farm-wrap .farm-left .three-wrap .noText{
  height: 63%;
}
.farm-wrap .farm-right {
  width: 54%;
  height: 95%;
  display: flex;
  justify-content: center;
}

.farm-wrap .farm-right .right-wrap{
  width: 95%;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.farm-wrap .farm-right .right-wrap .grap-wrap{
  height: 37%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid rgb(145, 163, 119, 0.8);
  justify-content: center;
  border-radius: 10px;
}
.farm-wrap .farm-right .right-wrap .grap-wrap .grap{
  height: 100%;
  width: 100%;
}
.farm-wrap .farm-right .right-wrap .farm-info-wrap{
  height: 61%;
  width: 100%;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
}
.farm-wrap .farm-right .right-wrap .farm-info-wrap .info-left{
  width: 70%;
  height: 95%;
  border-radius: 5px;
  background-color: rgb(145, 163, 119, 0.8);
  position: relative;
}
.farm-wrap .farm-right .right-wrap .farm-info-wrap .info-left h1{
  text-align: center;
  font-weight: 700;
  background: #666666e8;
  color: #fff;
  width: 109px;
  height: 24px;
  border-radius: 10px;
  margin: 5px auto;
  margin-top: -13px;
}
/* swiper */
.farm-wrap .farm-right .right-wrap .farm-info-wrap .info-left .swiper-container {
  width: 86%;
  height: 72%;
}

.farm-wrap .farm-right .right-wrap .farm-info-wrap .info-left .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.farm-wrap .farm-right .right-wrap .farm-info-wrap .info-left .swiper-slide img {
  display: block;
  width: 76%;
  height: 91%;
  object-fit: cover;
}

.farm-wrap .farm-right .right-wrap .farm-info-wrap .info-left .mushroom-info{
  display: flex;
  justify-content: space-evenly;
  height: calc(28% - 24px);
  flex-direction: row;
  align-items: flex-end;
}
.farm-wrap .farm-right .right-wrap .farm-info-wrap .info-left .mushroom-info .grow-box{
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 40%;
  height: 83%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 13px;
}
.farm-wrap .farm-right .right-wrap .farm-info-wrap .info-left .mushroom-info .grow-box .text2{
  font-weight: 700;
}
.farm-wrap .farm-right .right-wrap .farm-info-wrap .info-left .mushroom-info .grow-box .text3{
  font-weight: 700;
  font-size: 20px;
}





.farm-wrap .farm-right .right-wrap .farm-info-wrap .info-right{
  width: 22%;
  background-color: #6c757d;
  color: rgb(22, 22, 22);
  border-radius: 5px;
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  align-items: center;
}
.farm-wrap .farm-right .right-wrap .farm-info-wrap .info-right::-webkit-scrollbar{
display: none; /* Chrome, Safari, Opera*/
}
.farm-wrap .farm-right .right-wrap .farm-info-wrap .info-right .info-text-wrap{
  font-weight: 700;
  text-align: center;
  width: 92%;
  height: 64px;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 3px;
}
.farm-wrap .farm-right .right-wrap .farm-info-wrap .info-right .info-text-wrap h2{
  margin: 5px;
}
.farm-wrap .farm-right .right-wrap .farm-info-wrap .info-right .info-text-wrap span{

}
