/* 전체 틀 */
.container {
  /* 화면 크기 지정 */
  width: 100%;
  display: flex;
  background: rgb(224, 224, 218);
}

/* 공통 속성 */
.item {
  height: 88.6vh;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 19px 0 19px 19px;
}

/* 기기관리 */
.item1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: white;
  overflow-y: auto; /*세로 스크롤 내용 모두 보여주기*/
}

.item1Text {
  flex-basis: 2rem;
  background: rgb(145, 163, 119, 0.8);
  border-bottom: 1px solid black;
  text-align: center;
  line-height: 2rem;
}
/* 기기관리 버튼 영역 */
.item1ButtonBox {
  flex: 1;
  /* background: rgb(90, 109, 62); */
}

/* 기기관리 버튼 */
.item1Button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 8px;
  height: 83px;
  text-align: center;
  border-radius: 7px;
  background: rgb(90, 109, 62);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.06);
}

.item1Button:hover {
  cursor: pointer;
  background: rgb(92, 76, 78);
}

/*end 기기관리 */

/* 배지 사진 + 온 습도 */
.item2 {
  display: flex;
  flex: 4;
  flex-direction: column;
}

/* 공통속성 */
.box1 {
  flex: 3.5;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  padding: 10px;
}
/* 버섯 사진 박스*/
.kinokoImgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 19px;
}
/* 버섯 이름 */
.kinokoName {
  all: unset;
  text-align: center;
  flex: 0.1;
  margin-bottom: 5px;
  border-bottom: 1px solid;
  padding-left: 21px;
  width: 276px;
}
/* 버섯 이미지 */
.kinokoImg {
  flex: 2;
  margin: 13px 13px;
  width: 539px;
  background: rgb(94 76 69);
  border-radius: 12px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 72%), 0 0 8px 0 rgb(0 0 0 / 0%);
}

/* 앞뒤 */
.kinokoBtn {
  flex: 0.1;
  margin: 4px;
}

/* 온,습도 */
.environment {
  flex: 1.5 1;
  display: flex;
  justify-content: center;
  /* background: beige;*/
}

.box2 {
  width: 200px;
  margin: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.06);
}

/* 온도 */
.progress {
  display: flex;

  justify-content: center;

  align-items: center;
}

/* 습도 */
.span {
  margin-right: 25px;
}

/* 그래프 + 간단한 버섯 상태 정보 */
.item3 {
  display: flex;
  flex: 4 1;
  flex-direction: column;
  /* justify-content: center; */
  background: white;
  margin-right: 19px;
  padding: 20px 30px;
  border: 1px solid black;
}
/* 아무런 값 들이 없을 시 */
.item4 {
  display: flex;
  flex: 8;
  flex-direction: column;
  justify-content: center;

  background: white;
  margin-right: 19px;
  padding: 20px 30px;
  border: 1px solid black;

  text-align: center;
}
/* 그래프 */
.graph {
  text-align: center;
  margin-bottom: 15px;
  flex: 2.5;
  background: rgb(145, 163, 119);
  border-radius: 12px;
}

/* 알림 영역*/
.notification {
  flex: 4;
  display: flex;
  text-align: center;
  /* justify-content: end; */
  /* align-items: unset; */
  flex-direction: column;
  background: rgb(90, 109, 62);
  border-radius: 12px;
}

.programName {
  margin-top: 23px;
  background: rgb(238, 238, 232);
  /* text-decoration-line: underline; */
  flex: 1;
}
.smailInfo {
  margin-top: 23px;
  flex: 3;
  background: rgb(238, 238, 232);
}

.smailInfo > h1 {
  display: flex;
  text-align: center;
  line-height: 73px;
  /* height: auto; */
  /* margin: 50px; */
  /* justify-content: center; */
  flex-direction: column;
}

.pageInfo {
  all: unset;
  flex: 0.2;
  display: flex;
  color: aliceblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 101px;
  font-size: 1rem;
  /* text-align: center; */
  margin: 4px;
  border-radius: 12px;
  background: #5a6d3e;
  cursor: pointer;
}
.pageInfo:hover {
  background: #23291c;
}

.LodingText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
