.myfarm-wrap{
  height: calc(100% - 70px);
}
.myfarm-wrap .inner{
  background-color: rgb(224 224 218);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myfarm-wrap .myfarm-left{
  height: 100%;
  width: 14%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.myfarm-wrap .myfarm-left .btn-group{
  background: #fff;
  border: 2px solid rgb(145, 163, 119, 0.8);
  border-radius: 15px;
  margin: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.myfarm-wrap .myfarm-left .btn-group::-webkit-scrollbar{
  display: none; /* Chrome, Safari, Opera*/
}

.myfarm-wrap .myfarm-left .btn-group .muchine-title{
  background: rgb(145, 163, 119, 0.8);
  width: 100%;
  border-bottom: 2px solid rgb(145, 163, 119, 0.8);
  border-radius: 12px 13px 0 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  z-index: 2;
}
.myfarm-wrap .myfarm-left .btn-group .muchine-title span{
  color: #fff;
}
.myfarm-wrap .myfarm-left .btn-group .muchine-btn:first-child{
  width: 130px;
  height: 60px;
  margin-top: 25px;
  border: 2px solid #333;
  border-radius: 7px;
  background: rgb(90, 109, 62);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.06);
  color: rgb(224, 224, 224);
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.myfarm-wrap .myfarm-left .btn-group .muchine-btn{
  width: 130px;
  height: 60px;
  margin: 6px;
  border: 2px solid #333;
  border-radius: 7px;
  background: rgb(90, 109, 62);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.06);
  color: rgb(224, 224, 224);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.myfarm-wrap .myfarm-left .btn-group .muchine-btn-setCheck{
  width: 130px;
  height: 60px;
  margin: 6px;
  border: 2px solid #333;
  border-radius: 7px;
  background: rgb(236, 236, 236);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.06);
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.myfarm-wrap .myfarm-left .btn-group .muchine-btn:first-child:hover{
  background: rgb(92, 76, 78);
  color: #fff;
}
.myfarm-wrap .myfarm-left .muchine-btn:hover{
  background: rgb(92, 76, 78);
  color: #fff;
}
.myfarm-wrap .myfarm-left .btn-group .muchine-btn-setCheck:hover{
  background: rgb(92, 76, 78);
  color: #fff;
}
.myfarm-wrap .myfarm-right{
  height: 100%;
  width: 87%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.myfarm-wrap .myfarm-right .right-wrap{
  width: 98%;
  background: #fff;
  border-radius: 15px;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid rgb(145, 163, 119, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
  
}
.myfarm-wrap .myfarm-right .right-wrap .grap-wrap{
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myfarm-wrap .myfarm-right .right-wrap .grap-wrap .grap{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(145, 163, 119);
  border-radius: 12px;
  height: 81%;
  width: 90%;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap{
  height: 60%;
  width: 100%;
  display: flex;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .soket{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .soket .soket-img{
  width: 94%;
  height: 94%;
  box-shadow : 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid rgb(128, 150, 68);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .soket .soket-img .soket-title{
  position: absolute;
  top: -3px;
  background: rgb(145 163 119);
  border-radius: 6px;
  width: 126px;
  height: 29px;
  text-align: center;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .soket .soket-img .soket-title span{
  font-size: 18px;
  font-weight: 700;
  color: rgb(245, 241, 241);
}

.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .soket .soket-img img{
  /* width: 366px;
  height: 319px; */
  width: 81%;
  height: 73%;
  border: 2px solid black;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo{
  width: 60%;
  height: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-top{
  width: 98%;
  height: 60%;
  display: flex;
  margin: 7px;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-top .info-left{
  width: 50%;
  height: 100%;
  box-shadow : 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid rgb(128, 150, 68);
  margin-right: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}

.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-top .info-left .progress{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-top .info-left .progress span{
  font-weight: 700;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-top .info-right{
  width: 50%;
  height: 100%;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%), 0 0 8px 0 rgb(0 0 0 / 6%);
  border: 1px solid rgb(128, 150, 68);
  border-radius: 5px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-evenly;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-top .info-right .today-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-top .info-right .today-box .value1{
  font-weight: 700;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-top .info-right .today-box .value2{
  font-weight: 700;
  font-size: 32px;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-bottom{
  width: 98%;
  height: calc(40% - 10px);
  box-shadow : 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid rgb(128, 150, 68);
  border-radius: 5px;
  position: relative;
  display: flex;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-bottom .today-info{
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-bottom .today-info h3{
  font-weight: 700;
  margin-bottom: 10px;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-bottom .today-info .today-growth{
  font-size: 52px;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-bottom .today-grow{
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-bottom .today-grow h3{
  font-weight: 700;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-bottom .today-grow img{
  width: 82px;
  display: inline;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-bottom .from-move{
  background: rgb(145 163 119);
  border-radius: 23px;
  color: #fff;
  width: 136px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  transition: .4s;
  font-size: 14px;
  position: absolute;
  bottom: 6px;
  right: 5px;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-bottom .from-move:hover{
  cursor: pointer;
  background: rgb(92, 76, 78);
  color: #fff;
  border-radius: 6px;
}
.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-bottom .fram-move a .move {
  font-weight: 700;
  color: rgb(245, 241, 241);
}

.myfarm-wrap .myfarm-right .right-wrap .kinokoInfo-wrap .kinokoInfo .info-bottom .farmer{
  width: 70px;
  display: inline;
}


