/* 전체 틀 */
.container {
    /* 화면 크기 지정 */
    width: 100%;
    display: flex;
    background: rgb(224, 224, 218,00.3);

}

/* 공통 속성 */
.item{
    height: 88.6vh;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin : 19px 0 19px 19px;
    
}

/* 기기관리 */
.item1{
    flex: 1;
    border: 1px solid black;
    background: white;
    overflow-y:auto; /*세로 스크롤 내용 모두 보여주기*/
}

/* 배지 사진 + 온 습도 */
.item2{
    display: flex;
    flex: 4;
    flex-direction: column;
}

.box1{
    border: 1px solid black;
    border-radius: 10px;
    background: white;
}
/* 3D */
.img {
    flex: 3.5;
    margin-bottom: 19px;
}
/* 온,습도 */
.environment{
    flex: 1.5;
    
}


/* 그래프 + 간단한 버섯 상태 정보 */
.item3{
    
    display : flex;
    flex    : 4;
    flex-direction : column;
    justify-content: center;

    background: white;
    margin-right: 19px;
    padding: 20px 30px;
    border: 1px solid black;
}

/* 그래프 */
.graph {
    margin-bottom: 15px;
    flex: 2;
    background: rgb(145, 163, 119);
}
/* 알림 */
.notification{
    flex:4;
    background: rgb(90, 109, 62);
}
